/***************************************
*VARIABLES
*/
$background-blue: #003580;
$white: #fff;
$border-radius: 3px;

/***************************************
*MIXINS
*/

/***************************************
*GLOBAL
*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: left;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    font-size: 14px;
}