    @import 'base';

/***************************************
*HEADER
*/

#header {
    float: left;
    width: 100%;
    padding-top: 10px;
    background-color: $background-blue;

    .nav-first {
        float: left;
        width: 100%;

        img {
            float: left;
            width: 14%;
        }

        ul {
            float: right;
            border: 1px solid green;

            li:nth-child(2) {

                img {
                    width: 18px;
                }
            }

            li:nth-child(3) {
                border: 1px solid $white;
                

                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }

            li {
                display: inline-block;
                padding: 5px 10px;
                margin: 0 5px;
                border: 1px solid red;
                border-radius: $border-radius;

                a {
                    color: $white;
                    font-size: 12px;
                    padding: 0 0 5px 0;
                }
            }
        }
    }

    .nav-second {
        float: left;
        width: 100%;

        ul {
            float: left;
            width: 100%;


            li {
                float: left;
                width: 20%;
                margin-top: 10px;
                padding: 15px 10px;
                border: 1px solid red;
                opacity: 0.8;

                img {
                    float: left;
                    width: 15%;
                }

                span {
                    float: left;
                    width: 85%;
                    padding: 3px 0 0 12px;
                    color: $white;
                }
            }
        }
    }
}