    @import 'base';

/***************************************
*HEADER
*/

#header {
    float: left;
    width: 100%;
    padding-top: 15px;
    background-color: $background-blue;

    .nav-first {
        float: left;
        width: 100%;

        img {
            float: left;
            width: 15%;
        }

        ul {
            float: right;
            text-align: right;
            border: 1px solid green;

            li {
                display: inline-block;
                padding: 0 10px;
                margin: 0 5px;
                border: 1px solid red;

                a {
                    display: inline-block;
                    color: $white;
                    font-size: 12px;
                    padding: 0 0 5px 0;

                    img {
                        width: 20px;
                    }
                }
            }
        }
    }

    .nav-second {
        float: left;
        width: 100%;
    }
}